In [1]:
import numpy as np
import pandas as pd
import math
import yfinance as yf

In [2]:
nse_df = pd.read_csv("data/NSE-StockHistory.csv")

In [3]:
nse_df.head()

,company_name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Infosys,INFY.NS,INFY.NS,ACC.NS,ACC.NS,ACC.NS,ACC.NS,ABB.NS,ACC.NS,ACC.NS,...,ACC.NS,ADANIPORTS.NS,ADANIPORTS.NS,ADANIPORTS.NS,ADANIPORTS.NS,RELIANCE.NS,ADANIPORTS.NS,ADANIPORTS.NS,ADANIENT.NS,ADANIENT.NS
1,Wipro,WIPRO.NS,WIPRO.NS,BAJAJ-AUTO.NS,BAJAJ-AUTO.NS,BAJAJ-AUTO.NS,AMBUJACEM.NS,ACC.NS,AMBUJACEM.NS,AMBUJACEM.NS,...,AMBUJACEM.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,TCS.NS,ASIANPAINT.NS,APOLLOHOSP.NS,ADANIPORTS.NS,ADANIPORTS.NS
2,Satyam Computers (now Tech Mahindra),TECHM.NS,TECHM.NS,BANKBARODA.NS,BANKBARODA.NS,BANKBARODA.NS,BAJAJ-AUTO.NS,AMBUJACEM.NS,BHARTIARTL.NS,BHARTIARTL.NS,...,ASIANPAINT.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,HDFCBANK.NS,AXISBANK.NS,ASIANPAINT.NS,APOLLOHOSP.NS,APOLLOHOSP.NS
3,HCL Technologies,HCLTECH.NS,HCLTECH.NS,BHEL.NS,BHARTIARTL.NS,BHARTIARTL.NS,BANKBARODA.NS,BAJAJ-AUTO.NS,BHEL.NS,BHEL.NS,...,AUROPHARMA.NS,BAJAJFINSV.NS,NaN,NaN,NaN,HINDUNILVR.NS,NaN,AXISBANK.NS,ASIANPAINT.NS,ASIANPAINT.NS
4,Tata Consultancy Services (TCS),TCS.NS,NaN,BPCL.NS,BHEL.NS,BHEL.NS,BHARTIARTL.NS,BANKBARODA.NS,BPCL.NS,BPCL.NS,...,AXISBANK.NS,BANKBARODA.NS,BHARTIARTL.NS,BAJFINANCE.NS,BAJAJFINSV.NS,NaN,BAJAJFINSV.NS,BAJAJ-AUTO.NS,AXISBANK.NS,AXISBANK.NS

In [4]:
ticker_set = set()  # Create an empty ticker set that will hold all the tickers from 2000 to 2024
for year in range(2000,2024):
    for ticker in nse_df[str(year)].values:
        if isinstance(ticker, str):
            ticker_set.add(ticker)

In [5]:
print(ticker_set)

{'UPL.NS', 'BANKBARODA.NS', 'ASHOKLEY.NS', 'IDBI.NS', 'HDFCLIFE.NS', 'SBILIFE.NS', 'ADANIENT.NS', 'HINDUNILVR.NS', 'IDFCFIRSTB.NS', 'DIVISLAB.NS', 'NESTLEIND.NS', 'BAJAJ-AUTO.NS', 'RCOM.NS', 'INDUSINDBK.NS', 'TCS.NS', 'HINDZINC.NS', 'HEROMOTOCO.NS', 'NIITLTD.NS', 'HDFCBANK.NS', 'DABUR.NS', 'STLTECH.NS', 'SIEMENS.NS', 'ZENSARTECH.NS', 'COALINDIA.NS', 'SUZLON.NS', 'ASIANPAINT.NS', 'RELCAPITAL.NS', 'VEDL.NS', 'DLF.NS', 'GRASIM.NS', 'ICICIBANK.NS', 'YESBANK.NS', 'TITAN.NS', 'JINDALSTEL.NS', 'ZEELEARN.NS', 'TATACOMM.NS', 'MARUTI.NS', 'TATAMOTORS.NS', 'ZEEL.NS', 'STRTECH.NS', 'TECHM.NS', 'HINDALCO.NS', 'SBIN.NS', 'TATACONSUM.NS', 'POWERGRID.NS', 'SESHAPAPER.NS', 'BAJAJFINSV.NS', 'SAIL.NS', 'JSWSTEEL.NS', 'LT.NS', 'RPOWER.NS', 'RELIANCE.NS', 'SUNPHARMA.NS', 'EICHERMOT.NS', 'COLPAL.NS', 'TATASTEEL.NS', 'IOC.NS', 'UNITECH.NS', 'ABB.NS', 'NATIONALUM.NS', 'ADANIPORTS.NS', 'BPCL.NS', 'DRREDDY.NS', 'MTNL.NS', 'AXISBANK.NS', 'BRITANNIA.NS', 'BAJFINANCE.NS', 'BHEL.NS', 'ITC.NS', 'M&M.NS', 'WIPRO.NS', 'HINDVEN.NS', 'NTPC.NS', 'INFY.NS', 'BHARTIARTL.NS', 'GLAXO.NS', 'HDFCMFGETF.NS', 'NMDC.NS', 'APOLLOHOSP.NS', 'KOTAKBANK.NS', 'RELINFRA.NS', 'GAIL.NS', 'ACC.NS', 'LUPIN.NS', 'PNB.NS', 'HINDPETRO.NS', 'JPASSOCIAT.NS', 'TATAPOWER.NS', 'BOSCHLTD.NS', 'ONGC.NS', 'AUROPHARMA.NS', 'ZYDUSLIFE.NS', 'IBULHSGFIN.NS', 'AMBUJACEM.NS', 'CIPLA.NS', 'JPASSOCIAT.NS ', 'HCLTECH.NS', 'ULTRACEMCO.NS', 'IDEA.NS', 'SHREECEM.NS'}

In [6]:
sorted(ticker_set)

['ABB.NS',
 'ACC.NS',
 'ADANIENT.NS',
 'ADANIPORTS.NS',
 'AMBUJACEM.NS',
 'APOLLOHOSP.NS',
 'ASHOKLEY.NS',
 'ASIANPAINT.NS',
 'AUROPHARMA.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJAJFINSV.NS',
 'BAJFINANCE.NS',
 'BANKBARODA.NS',
 'BHARTIARTL.NS',
 'BHEL.NS',
 'BOSCHLTD.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'COLPAL.NS',
 'DABUR.NS',
 'DIVISLAB.NS',
 'DLF.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GAIL.NS',
 'GLAXO.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HDFCMFGETF.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDPETRO.NS',
 'HINDUNILVR.NS',
 'HINDVEN.NS',
 'HINDZINC.NS',
 'IBULHSGFIN.NS',
 'ICICIBANK.NS',
 'IDBI.NS',
 'IDEA.NS',
 'IDFCFIRSTB.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'IOC.NS',
 'ITC.NS',
 'JINDALSTEL.NS',
 'JPASSOCIAT.NS',
 'JPASSOCIAT.NS ',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'LUPIN.NS',
 'M&M.NS',
 'MARUTI.NS',
 'MTNL.NS',
 'NATIONALUM.NS',
 'NESTLEIND.NS',
 'NIITLTD.NS',
 'NMDC.NS',
 'NTPC.NS',
 'ONGC.NS',
 'PNB.NS',
 'POWERGRID.NS',
 'RCOM.NS',
 'RELCAPITAL.NS',
 'RELIANCE.NS',
 'RELINFRA.NS',
 'RPOWER.NS',
 'SAIL.NS',
 'SBILIFE.NS',
 'SBIN.NS',
 'SESHAPAPER.NS',
 'SHREECEM.NS',
 'SIEMENS.NS',
 'STLTECH.NS',
 'STRTECH.NS',
 'SUNPHARMA.NS',
 'SUZLON.NS',
 'TATACOMM.NS',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATAPOWER.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UNITECH.NS',
 'UPL.NS',
 'VEDL.NS',
 'WIPRO.NS',
 'YESBANK.NS',
 'ZEEL.NS',
 'ZEELEARN.NS',
 'ZENSARTECH.NS',
 'ZYDUSLIFE.NS']

In [7]:
nifty_50_symbols = sorted(ticker_set)

# Define the date range
start_date = "2000-01-01"
end_date = "2024-12-31"

# Create an empty DataFrame to store returns
returns_df = pd.DataFrame()
vol_df = pd.DataFrame()
raw_df = pd.DataFrame()

# Fetch data and calculate returns for each symbol
for symbol in nifty_50_symbols:
    # Download historical data
    data = yf.download(symbol, start=start_date, end=end_date)
    # Add to raw both close and volume
    raw_df[symbol]=data['Close']
    # Calculate daily returns
    returns = data['Close'].pct_change()
    # remove possible nonsensical returns
    returns[returns<-1] = -1
    vol = data['Volume']
    # Add returns to the DataFrame
    returns_df[symbol] = returns
    vol_df[symbol] = vol

# Set the index name
returns_df.index.name = "Date"
vol_df.index.name = "Date"
raw_df.index.name = "Date"

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['HINDVEN.NS']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['IBULHSGFIN.NS']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['STRTECH.NS']: YFTzMissingError('possibly delisted; no timezone found')
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
returns_df.head()

,ABB.NS,ACC.NS,ADANIENT.NS,ADANIPORTS.NS,AMBUJACEM.NS,APOLLOHOSP.NS,ASHOKLEY.NS,ASIANPAINT.NS,AUROPHARMA.NS,AXISBANK.NS,...,ULTRACEMCO.NS,UNITECH.NS,UPL.NS,VEDL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS,ZEELEARN.NS,ZENSARTECH.NS,ZYDUSLIFE.NS
Date,,,,,,,,,,,,,,,,,,,,,
2002-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.018796,-0.016645,...,NaN,NaN,NaN,-0.019320,0.003951,NaN,NaN,NaN,NaN,0.004126
2002-07-02,-0.005516,-0.008346,0.007873,NaN,-0.000715,0.018853,-0.020100,0.010455,-0.022815,-0.003906,...,NaN,0.000000,-0.003289,-0.026552,-0.006357,NaN,0.008641,NaN,-0.014098,0.007544
2002-07-03,0.027362,-0.003740,0.000000,NaN,-0.014659,-0.018882,0.001709,0.009458,0.007489,0.015686,...,NaN,-0.037038,-0.016502,0.031676,-0.017671,NaN,0.008956,NaN,0.127741,0.007714
2002-07-04,0.005758,-0.011264,0.005581,NaN,-0.000363,0.001925,0.632964,0.010293,0.013773,-0.002574,...,NaN,0.038462,0.100671,-0.018337,-0.032461,NaN,-0.000772,NaN,-0.015638,0.006330
2002-07-05,0.009841,-0.002848,-0.002220,NaN,0.000726,0.005378,-0.005937,0.047459,-0.004529,0.001290,...,NaN,0.037036,0.100610,0.000435,-0.003526,NaN,-0.004635,NaN,-0.003006,-0.004097

In [13]:
#returns_df.to_csv("NSE_Retruns.csv")
#vol_df.to_csv("NSE_Volume.csv")
raw_df.to_csv("data/NSE_Close.csv")

In [11]:
returns_df.describe()

,ABB.NS,ACC.NS,ADANIENT.NS,ADANIPORTS.NS,AMBUJACEM.NS,APOLLOHOSP.NS,ASHOKLEY.NS,ASIANPAINT.NS,AUROPHARMA.NS,AXISBANK.NS,...,ULTRACEMCO.NS,UNITECH.NS,UPL.NS,VEDL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS,ZEELEARN.NS,ZENSARTECH.NS,ZYDUSLIFE.NS
count,5587.000000,5584.000000,5586.000000,4210.000000,5585.000000,5584.000000,5586.000000,5584.000000,5586.000000,5585.000000,...,5554.000000,5587.000000,5585.000000,5588.000000,5588.000000,4800.000000,5584.000000,3458.000000,5584.000000,5588.000000
mean,0.001944,0.000726,0.003849,0.000818,0.001859,0.001121,0.001411,0.001022,0.001379,0.001255,...,0.000983,0.001380,0.000990,0.002039,0.000673,0.000763,0.000706,0.000195,0.001874,0.001012
std,0.063164,0.020039,0.141198,0.026663,0.090658,0.022043,0.029636,0.016549,0.032946,0.025953,...,0.022503,0.042747,0.028380,0.044866,0.020863,0.035728,0.030814,0.030014,0.062661,0.021321
min,-0.169731,-0.149378,-1.000000,-0.211497,-0.866667,-0.149896,-0.246274,-0.140279,-0.499977,-0.279108,...,-0.756378,-0.790403,-0.400000,-0.500000,-0.195749,-0.561141,-0.371081,-0.193548,-0.804310,-0.490652
25%,-0.010021,-0.009852,-0.012203,-0.012741,-0.010508,-0.009965,-0.012926,-0.007325,-0.011966,-0.011628,...,-0.009604,-0.023529,-0.012566,-0.014722,-0.009617,-0.013657,-0.014143,-0.015732,-0.012880,-0.009561
50%,0.000000,0.000300,0.000344,0.000120,0.000650,0.000000,0.000000,0.000357,0.000000,0.000000,...,0.000369,0.000000,0.000073,0.000000,0.000516,-0.000173,0.000000,-0.001356,-0.000411,0.000000
75%,0.011024,0.011009,0.014574,0.013449,0.012120,0.010313,0.013622,0.009096,0.013465,0.013063,...,0.010978,0.026045,0.013077,0.016970,0.010523,0.014317,0.013889,0.012092,0.012673,0.010257
max,4.433939,0.144845,10.110869,0.200021,6.525215,0.200068,0.632964,0.096586,1.002194,0.200418,...,0.146419,1.035716,0.691861,1.089147,0.238285,0.580863,0.637152,0.200472,3.999999,0.198382

In [118]:
#returns_df["ULTRACEMCO.NS"].isnull().sum()
len(returns_df)

5588

In [121]:
columns_with_low_counts = []
for col in returns_df.columns:
    value_counts = returns_df[col].isnull().sum()
    if (value_counts >5000):
        columns_with_low_counts.append(col)

print("\nColumns where at least one value has a count less than 100:")
print(columns_with_low_counts)

Columns where at least one value has a count less than 100:
['HINDVEN.NS', 'IBULHSGFIN.NS', 'STRTECH.NS']